<div class="cart-sidebar" id="cartSidebar">

  <div class="cart-header">

    <h2>Your Cart</h2>

    <button id="closeCart" class="close-cart-btn" aria-label="Close cart">
      <img src="assets/images/remove.png" alt="">
      ✕
    </button>

  </div>

  <div class="cart-items" id="cartItems">

  </div>

  <div class="cart-footer">

    <div class="cart-total">

      <h3>Total:</h3>

      <span id="cartTotal">
        ₹0
      </span>

    </div>

    <button class="whatsapp-order-btn" id="whatsappOrder">
      Proceed To Order
    </button>

  </div>

</div>

<div class="cart-overlay" id="cartOverlay"></div>
